doctype html
html
	head
		if isPlace
			title= place.name.length >= 65 ? place.name : place.name + ' | OpenDoor.ooo'
		else
			title OpenDoor.ooo
		meta(name="fragment", content="!")
		meta#metaInfo
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
		base(href="/")
		if originalCss
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
			link(rel='stylesheet', href='/assets/color_admin/plugins/bootstrap/css/bootstrap.min.css')
			link(rel='stylesheet', href='/assets/color_admin/plugins/font-awesome/css/font-awesome.min.css')

			link(rel='stylesheet', href='/assets/color_admin/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
			link(rel='stylesheet', href='/assets/color_admin/css/animate.min.css')
			link(rel='stylesheet', href='/assets/color_admin/css/style.min.css')
			link(rel='stylesheet', href='/assets/color_admin/css/style-responsive.min.css')
			link(rel='stylesheet', href='/assets/color_admin/css/theme/default.css')
			link(rel='stylesheet', href='/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css')
			link(rel='stylesheet', href='/bower_components/trumbowyg/dist/ui/trumbowyg.min.css')
			link(rel='stylesheet', href='/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
			link(rel='stylesheet', href='/assets/css/style.css')
		else
			link(rel='stylesheet', href='/assets/css/tidy.css')


		script(src="/siteconfig.js")

		script(src="/assets/js/require.js", data-main="/assets/js/requirejs-config.js")

		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/Datejs/build/date.js")
		script(src="/assets/js/ui.js")
		script(src="/assets/js/utils.js")

		script(src="/assets/js/ga.js")
		if isPlace
			script(type="application/ld+json")!= "\n" + JSON.stringify(place.jsonLd, null, ' ') + "\n"
			meta(name="description", content="#{place.name}")
			meta(itemprop="name", content="#{place.name}")
			if place.about
				meta(itemprop="description", content="#{place.about}")
			if place.bannerPhoto
				meta(itemprop="image", content="/photos/#{place.bannerPhoto}")
		
		
			meta(name="twitter:card", content="Information about #{place.name}")
			meta(name="twitter:site", content="#{siteconfig.twitterAccount}")
			meta(name="twitter:title", content="#{place.name}")
			if place.about
				meta(name="twitter:description", content="#{place.about}")
				meta(name="twitter:creator", content="#{siteconfig.twitterAccount}")
			if place.bannerPhoto
				meta(name="twitter:image:src", content="'+ #{siteconfig.imagesPath + place.bannerPhoto}")
		
			meta(property="og:title", content="#{place.name}")
			meta(property="og:type", content="article")
			meta(property="og:url", content="#{siteconfig.url + '/places/' + place.uri}")
			if place.bannerPhoto
				meta(property="og:image", content="#{siteconfig.imagesPath + place.bannerPhoto}")
			if place.about
				meta(property="og:description", content="#{place.about}")
			meta(property="og:site_name", content="#{siteconfig.sitename}")
			meta(property="article:published_time", content="#{place.createdAt}")
			meta(property="article:modified_time", content="#{place.updatedAt}")
			//+ '<meta(property="article:section", content="#{place.about
			//+ '<meta(property="article:tag", content="#{place.about
			//+ '<meta(property="fb:admins", content="#{place.about
	block body
		body
			#header.header.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header-navbar')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							span.brand-logo
								img(src="/assets/img/logo.png")
							//span.brand-text
							//	| OpenDoor.ooo
					#header-navbar.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a(href='/')
									| HOME
							li(ng-show="$root.isLoggedIn")
								a(href='/places/add') ADD A PLACE
							li
								a(href='/places/') PLACES
							li
								a(href='/jobs/search') JOBS
							li
								a(href='/events/search') EVENTS
							li(ng-show="$root.isAdmin")
								a.link(data-toggle='dropdown')
									| ADMIN
									b.caret
								ul.dropdown-menu
									li
										a(href='/places/list') PLACES LIST
									li
										a(href='/places/claims') PLACE CLAIMS
									li
										a(href='/users/list') USERS LIST
									li
										a(href='/tools') TOOLS

							li(ng-show="isLoggedIn")
								a.link(data-toggle='dropdown')
									| MY PLACES
									b.caret
								ul.dropdown-menu
									li
										a(href='/places/maintained') MAINTAINED PLACES
									li
										a(href='/places/changes') SUGGESTED CHANGES


							li(ng-show="$root.isLoggedIn")
								a(href='/logout', target="_self") LOG OUT
							li(ng-hide="$root.isLoggedIn")
								a(href='/login') LOG IN
							li(ng-hide="$root.isLoggedIn")
								a(href='/register') REGISTER
			#wrap(ng-view)
			footer#footer.my-footer
				| © #{currentYear} OpenDoor -
				a.link(ng-click="leaveFeedback($event)", ng-disabled="isFeedbackPage")  Suggest an improvement
				| &nbsp;-&nbsp;
				a.link(href="/about") About
