doctype html
html
	head
		if isPlace
			title= place.name.length >= 65 ? place.name : place.name + ' | OpenDoor.ooo'
		else
			title OpenDoor.ooo
		meta(name="fragment", content="!")
		meta#metaInfo
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
		base(href="/")

		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
		link(rel='stylesheet', href='/assets/color_admin/plugins/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/color_admin/plugins/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/assets/color_admin/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
		link(rel='stylesheet', href='/assets/color_admin/css/animate.min.css')
		link(rel='stylesheet', href='/assets/color_admin/css/style.min.css')
		link(rel='stylesheet', href='/assets/color_admin/css/style-responsive.min.css')
		link(rel='stylesheet', href='/assets/color_admin/css/theme/default.css')
		link(rel='stylesheet', href='/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='/bower_components/trumbowyg/dist/ui/trumbowyg.min.css')
		link(rel='stylesheet', href='/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
		link(rel='stylesheet', href='/assets/css/style.css')

		script(src="/siteconfig.js")
		script(src="/assets/js/require.js", data-main="/assets/js/requirejs-config.js")
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/Datejs/build/date.js")
		script(src="/assets/js/ui.js")
		script(src="/assets/js/utils.js")

		<!— Google Tag Manager —>
		script(type="text/javascript").
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T3SDMBG');
		<!— End Google Tag Manager —>

		<!-- Begin Adsense Embed Code -->
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script(type="text/javascript").
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-9803395703102777",
				enable_page_level_ads: true
			});
		<!-- End Adsense Embed Code -->

		if isPlace
			script(type="application/ld+json")!= "\n" + JSON.stringify(place.jsonLd, null, ' ') + "\n"
			meta(name="description", content="#{place.name}")
			meta(itemprop="name", content="#{place.name}")
			if place.about
				meta(itemprop="description", content="#{place.about}")
			if place.bannerPhoto
				meta(itemprop="image", content="/photos/#{place.bannerPhoto}")

			meta(name="twitter:card", content="Information about #{place.name}")
			meta(name="twitter:site", content="#{siteconfig.twitterAccount}")
			meta(name="twitter:title", content="#{place.name}")
			if place.about
				meta(name="twitter:description", content="#{place.about}")
				meta(name="twitter:creator", content="#{siteconfig.twitterAccount}")
			if place.bannerPhoto
				meta(name="twitter:image:src", content="'+ #{siteconfig.imagesPath + place.bannerPhoto}")

			meta(property="og:title", content="#{place.name}")
			meta(property="og:type", content="article")
			meta(property="og:url", content="#{siteconfig.url + '/places/' + place.uri}")
			if place.bannerPhoto
				meta(property="og:image", content="#{siteconfig.imagesPath + place.bannerPhoto}")
			if place.about
				meta(property="og:description", content="#{place.about}")
			meta(property="og:site_name", content="#{siteconfig.sitename}")
			meta(property="article:published_time", content="#{place.createdAt}")
			meta(property="article:modified_time", content="#{place.updatedAt}")
			//+ '<meta(property="article:section", content="#{place.about
			//+ '<meta(property="article:tag", content="#{place.about
			//+ '<meta(property="fb:admins", content="#{place.about
	block body
		body
			<!— Google Tag Manager (noscript) —>
			noscript
				iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-T3SDMBG" height="0" width="0" style="display:none;visibility:hidden")
			<!— End Google Tag Manager (noscript) —>
			#header.header.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header-navbar')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							span.brand-logo
								img(src="/assets/img/logo.png")
							//span.brand-text
							//	| OpenDoor.ooo
					#header-navbar.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/') HOME
							li
								a(href='/places/add') ADD A PLACE
							li
								a(href='/places/') PLACES
							li
								a(href='/jobs/search') JOBS
							li
								a(href='/events/search') EVENTS
							li.dropdown(ng-show="$root.isAdmin")
								a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") ADMIN
									span.caret
								ul.dropdown-menu
									li
										a(href='/places/list') PLACES LIST
									li
										a(href='/places/claims') PLACE CLAIMS
									li
										a(href='/users/list') USERS LIST
									li
										a(href='/tools') TOOLS
							li.dropdown(ng-show="isLoggedIn")
								a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") MY PLACES
									span.caret
								ul.dropdown-menu
									li
										a(href='/places/maintained') MAINTAINED PLACES
									li
										a(href='/places/changes') SUGGESTED CHANGES
							li(ng-show="$root.isLoggedIn")
								a(href='/logout', target="_self") LOG OUT
							li(ng-hide="$root.isLoggedIn")
								a(href='/login') LOG IN
							li(ng-hide="$root.isLoggedIn")
								a(href='/register') REGISTER

			#wrap(ng-view ng-init="userIp = '#{userIp}'")

			footer#footer.my-footer
				| © #{currentYear} | OpenDoor -
				a.link(ng-click="leaveFeedback($event)", ng-disabled="isFeedbackPage") Suggest an improvement
				| &nbsp;-&nbsp;
				a.link(href="/about") About
				| &nbsp;-&nbsp;
				a.link(href="#{'https://twitter.com/' + twitterAccount}") Twitter